aside {
  background: $tertiaryColor;
  display: inline-block;
  height: 100vh;
  text-align: center;
  width: 300px;
  h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
  .user-icon, .group-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin: 3rem auto 1rem auto;
    width: 100px;
    img {
      height: 100px;
      width: 100px;
    }
  }
  .user-groups {
    width: 80%;
    margin: 0 auto;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      a {
        color: $black;
        text-decoration: none;
      }
      li {
        align-items: center;
        background: $white;
        border-radius: 5px;
        display: flex;
        font-size: 0.9rem;
        height: 65px;
        justify-content: space-around;
        margin: 5px;
        overflow: hidden;
        width: 65px;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }
}
.feed-wrapper {
  float: right;
  width: calc(100% - 300px);
  .group-banner {
    background: $primaryColor;
    padding: 1rem 0;
    h2 {
      color: $white;
      font-size: 2.5rem;
      letter-spacing: 2px;
      text-align: center;
    }
  }
}
.user-feed-list {
  box-sizing: border-box;
  padding: 2rem;

  .new-post-form {
    width: 75%;
    textarea {
      border-radius: 5px;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
      &:focus {
        border: 4px solid $primaryColor;
        outline: none;
      }
    }
    label {
      font-size: 1.2rem;
    }
    button {
      background: $primaryColor;
      color: $white;
      font-size: 1rem;
      padding: 0.5rem;
      display: inline-block;
      margin-left: 10px;
      transition: all 0.4s;
      &:hover, &:focus {
        background: darken($primaryColor, 10%);
      }
    }
  }
  li {
    background: $lightGray;
    border-bottom: 1px solid darken($lightGray, 5%);
    box-sizing: border-box;
    margin-top: 20px;
    padding: 1rem 1rem 0.5rem 1rem;
    &:first-child {
      margin-top: 0;
    }
    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }
  button {
    background: $white;
    border: none;
    border-radius: 5px;
    color: $primaryColor;
    display: block;
    font-size: 1rem;
    margin-top: 5px;
    padding: 0.2rem 0.5rem;
    &:hover, &:focus {
      background: $primaryColor;
      border: 0;
      color: $white;
      cursor: pointer;
      outline: 0;
      transition: all 0.5s;
    }
  }
  .rsvp-form {
    .checkbox-wrapper {
      border: 1px solid $primaryColor;
      border-radius: 50%;
      display: inline-block;
      height: 20px;
      position: relative;
      top: 5px;
      width: 20px;
      div {
        border-radius: 50%;
        height: 18px;
        margin: 1.2px;
        width: 18px;
        &:hover {
          cursor: pointer;
        }
      }
      div[aria-checked="true"] {
        background: $primaryColor;
      }
      div[aria-checked="false"] {
        background: none;
      }
    }
    label {
      margin: 0 5px;
    }
    button {
      display: inline-block;
      margin-left: 5px;
      padding: 0.5rem;
      &:hover, &:focus {
        border: 0;
        outline: 0;
      }
    }
  }
}

@media (max-width: 700px) {
  aside {
    height: 400px;
    overflow: scroll;
    width: 100%;
    ul {
      margin: 0 auto;
      width: 240px;
    }
  }
  .feed-wrapper {
    bottom: 5px;
    position: relative;
    width: 100%;
    .new-post-form {
      margin: 0 auto;
      text-align: center;
    }
  }
}

@media (min-width: 1000px) {
  .user-feed-list {
    padding: 2rem 5%;
  }
}

@media (min-width: 1200px) {
  .user-feed-list {
    padding: 2rem 8%;
  }
}

@media (min-width: 1400px) {
  .user-feed-list {
    padding: 2rem 10%;
  }
}
