.user-profile-info {
  padding-top: 3rem;
  .user-icon-wrapper {
    border-radius: 25%;
    height: 200px;
    margin: 0 auto;
    padding: 2rem;
    width: 200px;
    img {
      background: $white;
      border-radius: 20px;
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
  .user-info {
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 85%;
    h3 {
      font-size: 3rem;
      margin: 0;
    }
    h4 {
      font-size: 1.2rem;
      margin: 0;
    }
    p {
      font-size: 1.3rem;
      margin-bottom: 0;
    }
  }
  &::after {
    border-bottom: 1px solid darken($lightGray, 10%);
    content: '';
    display: block;
    margin: 2rem auto 1rem auto;
    width: 70%;
  }
}
.profile-group-wrapper {
  margin-top: 3rem;
  h5 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }
  .profile-group-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    li {
      align-items: center;
      background: $secondaryColor;
      border-radius: 5px;
      display: flex;
      font-size: 0.8rem;
      height: 50px;
      justify-content: center;
      margin: 10px;
      overflow: hidden;
      text-align: center;
      width: 50px;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
}

@media (max-width: 400px) {
  .profile-group-wrapper {
    .profile-group-list {
      width: 85%;
    }
  }
  .user-profile-info {
    .user-icon-wrapper {
      height: 150px;
      width: 150px;
    }
    .user-info {
      h3 {
        font-size: 2.5rem;
      }
    }
  }
}
