.home .title-wrapper {
  background: rgba(0, 23, 31, 0.6);
  border-radius: 15px;
  color: #F45D01;
  margin: 26vh auto;
  padding: 5rem 2rem;
  position: relative;
  text-align: center;
  width: 540px;
  z-index: 1; }
.home h1 {
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0; }
  .home h1 span {
    font-weight: 700; }
.home h2 {
  color: #fff;
  margin: 0; }
.home button {
  background: rgba(0, 23, 31, 0.8);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1rem 1.5rem; }
  .home button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    color: #00171F; }
.home .signup {
  background: rgba(244, 93, 1, 0.8); }
  .home .signup:hover {
    backround: rgba(255, 255, 255, 0.8);
    color: #F45D01; }
.home img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%; }

@media (max-width: 800px) {
  .home h1 {
    font-size: 6rem; } }
@media (max-width: 650px) {
  .home .title-wrapper {
    width: 80%; }
  .home h1 {
    font-size: 5rem; } }
@media (max-width: 500px) {
  .home .title-wrapper {
    padding: 3rem 2rem;
    width: 75%; }
  .home h1 {
    font-size: 3.5rem; } }
.modal-content {
  box-sizing: border-box;
  padding: 3rem 1rem; }
  .modal-content .login-form, .modal-content .signup-form, .modal-content .add-goal {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    .modal-content .login-form h3, .modal-content .signup-form h3, .modal-content .add-goal h3 {
      color: #fff;
      font-size: 2rem;
      margin: 0; }
    .modal-content .login-form .input-wrapper, .modal-content .signup-form .input-wrapper, .modal-content .add-goal .input-wrapper {
      margin: 0 auto;
      width: 200px; }
      .modal-content .login-form .input-wrapper label, .modal-content .signup-form .input-wrapper label, .modal-content .add-goal .input-wrapper label {
        display: block;
        font-size: 0.8rem;
        margin: 10px 0 0 3px;
        text-align: left; }
      .modal-content .login-form .input-wrapper input, .modal-content .signup-form .input-wrapper input, .modal-content .add-goal .input-wrapper input {
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        width: 100%; }
        .modal-content .login-form .input-wrapper input:focus, .modal-content .signup-form .input-wrapper input:focus, .modal-content .add-goal .input-wrapper input:focus {
          border: 4px solid #AAD922;
          outline: none; }
    .modal-content .login-form button, .modal-content .signup-form button, .modal-content .add-goal button {
      background: #fff;
      border: none;
      color: #F45D01;
      margin-top: 20px;
      padding: 0.5rem 1rem; }
      .modal-content .login-form button:hover, .modal-content .login-form button:focus, .modal-content .signup-form button:hover, .modal-content .signup-form button:focus, .modal-content .add-goal button:hover, .modal-content .add-goal button:focus {
        background: #db5301;
        color: #fff;
        cursor: pointer;
        outline: none; }
  .modal-content .login-form {
    padding-top: 14%; }
  .modal-content .signup-form {
    padding-top: 8%; }
    .modal-content .signup-form .input-wrapper {
      width: 147px; }
    .modal-content .signup-form .signup-group1 {
      float: left; }
    .modal-content .signup-form .signup-group2 {
      display: inline-block; }
  .modal-content .add-goal {
    padding-top: 22%; }

@media (max-width: 600px) {
  .modal-content .login-form, .modal-content .signup-form, .modal-content .add-goal {
    width: 95%; }
  .modal-content .signup-form .input-wrapper input {
    width: 85%; } }
aside {
  background: #AAD922;
  display: inline-block;
  height: 100vh;
  text-align: center;
  width: 300px; }
  aside h4 {
    font-size: 1.2rem;
    margin-bottom: 0; }
  aside p {
    margin-top: 0; }
  aside .user-icon, aside .group-icon {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    margin: 3rem auto 1rem auto;
    width: 100px; }
    aside .user-icon img, aside .group-icon img {
      height: 100px;
      width: 100px; }
  aside .user-groups {
    width: 80%;
    margin: 0 auto; }
    aside .user-groups ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      aside .user-groups ul a {
        color: #00171F;
        text-decoration: none; }
      aside .user-groups ul li {
        align-items: center;
        background: #fff;
        border-radius: 5px;
        display: flex;
        font-size: 0.9rem;
        height: 65px;
        justify-content: space-around;
        margin: 5px;
        overflow: hidden;
        width: 65px; }
        aside .user-groups ul li:hover {
          cursor: pointer;
          opacity: 0.7; }

.feed-wrapper {
  float: right;
  width: calc(100% - 300px); }
  .feed-wrapper .group-banner {
    background: #F45D01;
    padding: 1rem 0; }
    .feed-wrapper .group-banner h2 {
      color: #fff;
      font-size: 2.5rem;
      letter-spacing: 2px;
      text-align: center; }

.user-feed-list {
  box-sizing: border-box;
  padding: 2rem; }
  .user-feed-list .new-post-form {
    width: 75%; }
    .user-feed-list .new-post-form textarea {
      border-radius: 5px;
      box-sizing: border-box;
      display: inline-block;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%; }
      .user-feed-list .new-post-form textarea:focus {
        border: 4px solid #F45D01;
        outline: none; }
    .user-feed-list .new-post-form label {
      font-size: 1.2rem; }
    .user-feed-list .new-post-form button {
      background: #F45D01;
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem;
      display: inline-block;
      margin-left: 10px;
      transition: all 0.4s; }
      .user-feed-list .new-post-form button:hover, .user-feed-list .new-post-form button:focus {
        background: #c14a01; }
  .user-feed-list li {
    background: #f7f6f6;
    border-bottom: 1px solid #ebe9e9;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 1rem 1rem 0.5rem 1rem; }
    .user-feed-list li:first-child {
      margin-top: 0; }
    .user-feed-list li p {
      font-size: 1.2rem;
      margin: 0; }
  .user-feed-list button {
    background: #fff;
    border: none;
    border-radius: 5px;
    color: #F45D01;
    display: block;
    font-size: 1rem;
    margin-top: 5px;
    padding: 0.2rem 0.5rem; }
    .user-feed-list button:hover, .user-feed-list button:focus {
      background: #F45D01;
      border: 0;
      color: #fff;
      cursor: pointer;
      outline: 0;
      transition: all 0.5s; }
  .user-feed-list .rsvp-form .checkbox-wrapper {
    border: 1px solid #F45D01;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 5px;
    width: 20px; }
    .user-feed-list .rsvp-form .checkbox-wrapper div {
      border-radius: 50%;
      height: 18px;
      margin: 1.2px;
      width: 18px; }
      .user-feed-list .rsvp-form .checkbox-wrapper div:hover {
        cursor: pointer; }
    .user-feed-list .rsvp-form .checkbox-wrapper div[aria-checked="true"] {
      background: #F45D01; }
    .user-feed-list .rsvp-form .checkbox-wrapper div[aria-checked="false"] {
      background: none; }
  .user-feed-list .rsvp-form label {
    margin: 0 5px; }
  .user-feed-list .rsvp-form button {
    display: inline-block;
    margin-left: 5px;
    padding: 0.5rem; }
    .user-feed-list .rsvp-form button:hover, .user-feed-list .rsvp-form button:focus {
      border: 0;
      outline: 0; }

@media (max-width: 700px) {
  aside {
    height: 400px;
    overflow: scroll;
    width: 100%; }
    aside ul {
      margin: 0 auto;
      width: 240px; }

  .feed-wrapper {
    bottom: 5px;
    position: relative;
    width: 100%; }
    .feed-wrapper .new-post-form {
      margin: 0 auto;
      text-align: center; } }
@media (min-width: 1000px) {
  .user-feed-list {
    padding: 2rem 5%; } }
@media (min-width: 1200px) {
  .user-feed-list {
    padding: 2rem 8%; } }
@media (min-width: 1400px) {
  .user-feed-list {
    padding: 2rem 10%; } }
.user-profile-info {
  background: #AAD922;
  box-shadow: 2px 3px 3px rgba(0, 23, 31, 0.3);
  padding-top: 3rem; }
  .user-profile-info .user-icon-wrapper {
    border-radius: 25%;
    height: 200px;
    margin: 0 auto;
    padding: 2rem;
    width: 200px; }
    .user-profile-info .user-icon-wrapper img {
      background: #fff;
      border-radius: 20px;
      height: 100%;
      object-fit: contain;
      width: 100%; }
  .user-profile-info .user-info {
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 85%; }
    .user-profile-info .user-info h3 {
      font-size: 3rem;
      margin: 0; }
    .user-profile-info .user-info h4 {
      font-size: 1.2rem;
      margin: 0; }
    .user-profile-info .user-info p {
      font-size: 1.3rem;
      margin-bottom: 0; }

.profile-group-wrapper {
  margin-top: 3rem;
  padding: 2rem 10%; }
  .profile-group-wrapper h5 {
    font-size: 2rem;
    margin: 0;
    text-align: center; }
  .profile-group-wrapper .profile-group-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%; }
    .profile-group-wrapper .profile-group-list a {
      color: #00171F;
      text-decoration: none; }
    .profile-group-wrapper .profile-group-list li {
      align-items: center;
      background: #F45D01;
      border-radius: 5px;
      color: #fff;
      display: flex;
      font-size: 1rem;
      height: 85px;
      justify-content: center;
      margin: 10px;
      overflow: hidden;
      text-align: center;
      width: 85px; }
      .profile-group-wrapper .profile-group-list li:hover {
        cursor: pointer;
        opacity: 0.6; }

@media (max-width: 400px) {
  .profile-group-wrapper .profile-group-list {
    width: 85%; }

  .user-profile-info .user-icon-wrapper {
    height: 150px;
    width: 150px; }
  .user-profile-info .user-info h3 {
    font-size: 2.5rem; } }
nav {
  background: #f7f6f6;
  box-shadow: 3px 3px 3px rgba(0, 23, 31, 0.2);
  height: 100px;
  padding: 0 2rem; }
  nav a {
    color: #2D7DD2;
    font-size: 4rem;
    line-height: 100px;
    transition: all 0.5s;
    vertical-align: middle; }
    nav a:hover {
      color: #F45D01; }
  nav .user-icon {
    color: #F45D01;
    float: right;
    font-size: 1.5rem;
    line-height: 100px;
    vertical-align: middle; }
    nav .user-icon:hover {
      color: #2D7DD2;
      cursor: pointer; }
  nav .nav-dropdown {
    background: #f7f6f6;
    height: 194px;
    position: absolute;
    right: 7px;
    z-index: 5;
    animation: dropdown 0.3s ease-in-out; }
    nav .nav-dropdown a {
      color: #00171F;
      text-decoration: none; }
      nav .nav-dropdown a:hover {
        color: #fff; }
    nav .nav-dropdown li {
      border-bottom: 1px solid #dfdbdb;
      font-size: 1rem;
      line-height: 1rem;
      padding: 1rem 3rem;
      animation: dropdownLI 3s;
      transition: all 0.5s; }
      nav .nav-dropdown li:hover {
        background: #F45D01;
        color: #fff;
        cursor: pointer; }

@keyframes dropdown {
  0% {
    height: 0; }
  70% {
    height: 205px; }
  100% {
    height: 194px; } }
@keyframes dropdownLI {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.edit-settings-form {
  background: #fff;
  margin: 1rem auto;
  padding: 2rem 0;
  text-align: center;
  width: 500px; }
  .edit-settings-form h3 {
    color: #00171F;
    font-size: 2rem;
    margin: 0; }
  .edit-settings-form label {
    display: block;
    font-size: 0.8rem; }
  .edit-settings-form #image-label {
    background: #fff;
    border: 1px solid rgba(0, 23, 31, 0.2);
    margin: 23px auto;
    padding: 0.5rem;
    width: 60%; }
    .edit-settings-form #image-label:hover, .edit-settings-form #image-label:active {
      background: #c14a01;
      color: #fff;
      cursor: pointer; }
    .edit-settings-form #image-label p {
      color: #fff;
      margin: 0; }
  .edit-settings-form #image-label.loaded {
    background: #c14a01;
    color: #fff; }
  .edit-settings-form div {
    margin: 10px auto;
    width: 90%; }
    .edit-settings-form div::first-child {
      margin-top: 0; }
    .edit-settings-form div input {
      padding: 0.5rem;
      width: 60%; }
      .edit-settings-form div input:focus {
        border: 1px solid rgba(0, 23, 31, 0.2);
        outline: none; }
    .edit-settings-form div input[type="file"] {
      display: none; }
  .edit-settings-form button {
    background: #fff;
    border: 1px solid #F45D01;
    box-sizing: border-box;
    color: #F45D01;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    transition: all 0.5s; }
    .edit-settings-form button:hover {
      background: #db5301;
      color: #fff;
      cursor: pointer; }

@media (max-width: 600px) {
  .edit-settings-form {
    width: 85%; }
    .edit-settings-form div {
      width: 100%; } }
@media (max-width: 600px) {
  .edit-settings-form h3 {
    font-size: 1.5rem; } }
body {
  color: #00171F;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

/*# sourceMappingURL=main.css.map */
